#anaconda 
conda create -n [name] python=3.6
conda install pytorch==1.3.0 torchvision==0.4.1 cudatoolkit=11.0 -c pytorch
pip install tensorflow==1.14
pip install mpi4py
pip install joblib
pip install tensorboard
pip install scipy
pip install cloudpickle
pip install psutil
pip install tqdm
pip install -U 'mujoco-py<2.1,>=2.0'
sudo apt-get update && sudo apt-get install libopenmpi-dev

